.chatbot-container {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.chatbot-container.light {
  background-color: #fff;
  color: #000;
}

.chatbot-container.dark {
  background-color: #1a1a1a;
  color: #fff;
}