/* src/components/ChatbotMenu.css */

.chatbot-menu {
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 200px;
  border-radius: 5px;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Using black for shadow */
}

.chatbot-menu.light,
.chatbot-menu.dark {
  background-color: #f8f9fa; /* Background Color */
}

.chatbot-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chatbot-menu li {
  padding: 12px 10px;
  cursor: pointer;
  border-bottom: 1px solid #CBC8C3; /* Secondary Color */
  font-weight: 500;
  color: black; /* Text Color */
}

.chatbot-menu li:hover {
  background-color: #05314D; /* Primary Color */
  color: white; /* Text Color */
}
