/* src/components/ChatbotInput.css */

.chatbot-input {
  padding: 10px;
  display: flex;
  align-items: center;
}

.chatbot-input.light,
.chatbot-input.dark {
  background-color: #05314D; /* Background Color */
}

.textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #CBC8C3; /* Secondary Color */
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  max-height: 100px;
}

.chatbot-input.light .textarea {
  background-color: white; /* Background Color */
  color: black; /* Text Color */
}

.chatbot-input.dark .textarea {
  background-color: #CBC8C3; /* Secondary Color */
  color: black; /* Text Color */
}

.send-icon {
  cursor: pointer;
  color: #CBC8C3; /* Primary Color */
}

.send-icon svg {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
}

.send-icon:hover {
  color: #CBC8C3; /* Secondary Color */
}
