/* src/components/ChatbotHeader.css */

.chatbot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
}

.chatbot-header.light,
.chatbot-header.dark {
  background-color: #05314D; /* Primary Color */
  color: white; /* Text Color */
}

.chatbot-header h2 {
  margin: 0;
  font-size: 1.2em;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons svg {
  margin-left: 10px;
  cursor: pointer;
  color: white; /* Icon Color */
}

.header-icons svg:hover {
  color: #CBC8C3; /* Secondary Color */
}

/* Dialog Styles */
.dialog-paper {
  background-color: #f8f9fa !important; /* Background Color */
  color: black !important; /* Text Color */
}

.dialog-title {
  background-color: #05314D; /* Primary Color */
  color: white; /* Text Color */
  padding: 16px;
}

.dialog-content {
  padding: 16px;
}

.dialog-actions {
  padding: 8px 16px;
}

.dialog-button {
  color: #05314D; /* Primary Color */
}

.dialog-button:hover {
  background-color: #CBC8C3; /* Secondary Color */
}
