/* src/components/ChatbotIcon.css */

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #05314D; /* Primary Color */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white; /* Text Color */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}

.chatbot-icon:hover {
  background-color: #CBC8C3; /* Secondary Color */
}

.chatbot-icon svg {
  width: 30px;
  height: 30px;
}

.chatbot-icon.pop {
  animation: popAnimation 0.5s ease-in-out;
}

@keyframes popAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
