/* src/components/ChatbotMessages.css */

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatbot-messages.light,
.chatbot-messages.dark {
  background-color: #f8f9fa; /* Background Color */
}
