/* src/components/Message.css */

.message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.message.me {
  align-items: flex-end;
}

.message.bot {
  align-items: flex-start;
}

.message-content {
  display: flex;
  align-items: flex-end;
}

.message-content.me {
  flex-direction: row-reverse;
}

.icon-wrapper {
  margin: 0 10px;
}

.icon-wrapper.me {
  margin: 0 0 0 10px;
  color: #05314D;
  /* Primary Color */
}

.icon-wrapper.bot {
  margin: 0 10px 0 0;
  color: #05314D;
  /* Secondary Color */
}

.icon-wrapper svg {
  width: 24px;
  height: 24px;
}

.bubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 0.95em;
  position: relative;
}

.bubble.me {
  background-color: #05314D;
  /* Primary Color */
  color: white;
  /* Text Color */
}

.bubble.bot {
  background-color: #CBC8C3;
  /* Secondary Color */
  color: black;
  /* Text Color */
}

.message-actions {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.85em;
}

.message-actions.light,
.message-actions.dark {
  color: black;
}

.message-actions svg {
  margin-right: 8px;
  cursor: pointer;
  color: black;
}

.message-actions svg:hover {
  color: #05314D;
}




.message-actions svg.liked {
  color: #05314D;
}

.message-actions svg.disliked {
  color: #CBC8C3;
}

.message-actions svg {
  margin-right: 8px;
  cursor: pointer;
  color: black;
}

.message-actions svg:hover {
  color: #05314D;
}


.message-actions svg.disabled {
  opacity: 0.5;
  pointer-events: none;
}